body {
    color: black;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(242, 255, 1, 1);
    padding: 20px;
    font-size: 32px;
    color: rgb(242, 255, 1, 1)
}

.chamada {
    background: rgb(255, 255, 255, 1);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 40px;
}

p{
    font-size: 20px;
}

img{
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.videos{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

h2{
    color:rgb(242, 255, 1, 1)
}

.categoria-videos img{
    opacity: 0.3;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 6px solid green
}